<!DOCTYPE html>
<html>
<head>
  <title>John Yerhot, Yo.</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="description" content=">In the last 10 years I've worked as a sole developer, 2-3 person teams, written Ruby for the enterprise, helped scale and support some of the highest traffic Ruby application on the Internet, and lead arguably the highest caliber [support teams](http://engineyard.com/support/pandas) working in the Cloud.">
  <meta name="author" content="John Yerhot <john@yerhot.org>">

</head>
<body>

<%= yield %>

</body>
</html>
